# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out
/build
/.cache

# Node
/node_modules
npm-debug.log
yarn-error.log
*.log

# Angular
/.angular/cache

# Environment
/src/environments/*.local.ts
src/environments/environment.local.ts
src/environments/environment.production.ts

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.swp
*.swo

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json
.history/*
.vscode/settings.json

# Misc
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/

# Docker
docker-data/

# System
.DS_Store
Thumbs.db